.card {
  margin-top: 15px;
  color: whitesmoke;
  margin-bottom: 15px;
}

.cardImage {
  height: 300px;
  width: auto;
}

.cardBody {
  text-align: center;
}

.cardTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

.cardText {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: whitesmoke;
}