.navBrand {
  color: whitesmoke;
  font-weight: bold;
  font-size: 150%;
}

.logo {
  width: 100px;
  height: 50px;
}

.navBrand:hover {
  text-decoration: none;
  color: whitesmoke;
}

.navLinks {
  color: whitesmoke;
  padding-left: 10px;
}

.navLinks:hover {
  text-decoration: none;
  color: whitesmoke;
}